.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.no-wrap {
  white-space: nowrap;
}

.ui.sortable.table thead th {
  cursor: default;
}

.ui.sortable.table thead th.sort {
  cursor: pointer;
}


.rct-item-content {
  line-height: 1em !important;
  text-overflow: ellipsis;
  display: block !important;
  padding: 1px 1px 1px 1px !important;
}

.react-calendar-timeline .rct-header-root {
  background-color: #f9fafb !important;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem .28571429rem 0 0;
}

.rct-outer {
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 0 0 .28571429rem .28571429rem;
}

.rct-calendar-header {
  border: none !important;
  color: rgba(0,0,0,.87) !important;
  font-weight: 700;
}

.react-calendar-timeline .rct-dateHeader {
  border: none !important;
  background-color: #f9fafb !important;
  color: rgba(0,0,0,.87) !important;
  font-size: 7pt !important;
}

.rct-sidebar {
  background-color: #f9fafb !important;
}

.portal-header {
  font-size: x-large;
  top: 10px;
  position: relative;
  text-align: center;
  z-index: 222;
}