
    @page {
        size: A4; /* DIN A4 standard, Europe */
        margin-left: 5mm;
        margin-right: 5mm;
    }
    html, body {
        width: 200mm;
        height: 100%;
        font-size: 11px;
        background: #FFF;
        overflow:visible;
    }
    body {
        padding-top:5mm;
    }


#root {
    background-color: white;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#root > div {
    height: 100%;
}

.pdf {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pdf .row {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
}

.pdf .row.fill {
    flex: 1
}

.pdf .cell {
    flex: 1;
    padding: 10px;
}

.pdf .cell:not(:first-child) {
    border-left: 1px solid black;
    border-collapse: collapse;
}

.pdf .inner-row {
    display: flex;
    flex-direction: row;
}

.pdf .inner-cell {
    padding: 5px;
    flex: 1
}

.pdf .small-text {
    font-size: 7pt;
    line-height: 1em;
}