.pdf {
    width: 612px;
    height: 792px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.row {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
}

.row.max {
    flex: 1
}

.cell {
    flex: 1;
    padding: 10px;
}

.cell:not(:first-child) {
    border-left: 1px solid black;
    border-collapse: collapse;
}